


@font-face{
    font-family: nasalization;
    src: url('./assets2/nasalization-rg.ttf');
}

.name{
    font-family: nasalization;
    color: rgb(218, 100, 17);
    text-align: center;
}


.jumbotron{
    background-image: url(assets2/planets.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-color: black;
    height: 600px;
}
